<div class = 'container'>
	<div class = 'row'>
		<div class = 'col-md-12'>

			<h4 class = 'text-center'>Now showing your submitted survey data...</h4>
		</div>
		<div class = 'col-md-12'>
				<table class = 'documentInfoContainer adjustWidth'>
					<tr>
						<td class="table-header-bold">User ID: </td>
						<td id="id"></td>
					</tr>
					<tr>
						<td class="table-header-bold">First Name: </td>
						<td id="first_name"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Last Name: </td>
						<td id="last_name"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Address: </td>
						<td id="address"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Apartment No.: </td>
						<td id="apt_no"></td>
					</tr>
					<tr>
						<td class="table-header-bold">City: </td>
						<td id="city"></td>
					</tr>
					<tr>
						<td class="table-header-bold">ZIP Code: </td>
						<td id="zip"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Date of birth:</td>
						<td id="country_of_birth"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Country of Birth:</td>
						<td id="country_of_birth"></td>
					</tr>		
					<tr>
						<td class="table-header-bold">Citizenship:</td>
						<td id="country_of_citizenship"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Social Security Number:</td>
						<td id="social_security_num"></td>
					</tr>
					<tr>
						<td class="table-header-bold">A-Number: </td>
						<td id="a_number"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Date of last arrival: </td>
						<td id="date_of_last_arrival"></td>
					</tr>
					<tr>
						<td class="table-header-bold">i94 Number:</td>
						<td id="i94_arrival_departure_record_number"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Current USCIS Status: </td>
						<td id="current_uscis_status"></td>
					</tr>
					<tr>
						<td class="table-header-bold">Status Expires:</td>
						<td id="status_expires_on"></td>
					</tr>
				</table>
		</div>
		<div class = 'col-md-12'>
			<div class="document-next-steps"
				<div class="redo-survey-div">
					<h5 class="redo-survey-div">Want to edit your answers?</h5>
					<button type="button" class="btn btn-default redo-survey-div text-center" id="btn-edit-survey">Re-do survey</button>
				</div>

				<div class="instructions-to-upload-id">
					<h5>Ready for next step?</h5>
					<button type="button" class="btn btn-default text-center" id="btn-upload-id">Upload your photo id</button>
				</div>
			</div>

		</div>
	</div>
</div>


<script src="/js/document.js" type="text/javascript"></script>