<div class = 'container'>
	<div class = 'row'>
		<div class = 'col-12-md list'>
			<ul>
				{{#each survey}}
					<li>{{id}}</li>
					<li>{{surveyName}}</li>
					<li>{{question1}}</li>
					</br>
				{{/each}}
			</ul>
		</div>
	</div>
</div>

<script src="js/surveyList.js" type="text/javascript"></script>

