<!-- --> 
<script src="https://unpkg.com/survey-jquery"></script>
hi this is a survey page


<div id="surveyContainer"></div>


<script src="js/survey.js" type="text/javascript"></script>
{{!-- <script src="js/survey.jquery.min.js"></script>
 --}}