<div class="body-div">

	<h4>The government requires "supportive legal documents!"
	<br><br>
	We need one of the following:
		<ul>
			<li>Driver's license</li>
			<li>Passport page</li>
		</ul>
	</h4>

	<form id="form1" runat="server">
	    <input type='file' id="uploadInput" r/>
	    <img id="uploadedPhoto" src=""/>
	</form>

	<script src="js/uploadImage.js" type="text/javascript"></script>
</div>