img{
	margin: 50px 300px 100px 300px;
	height: 200px;
	width: 200px;
	padding: 4px;
}
/* Full height image header */
.bgimg-1 {
    background-position: left;
    background-size: cover;
    background-image: url("http://eskipaper.com/images/patriotic-wallpaper-2.jpg");
    min-height: 100%;
}
body{
	/*background-image: url("https://jcsla.files.wordpress.com/2013/04/faded_flag.gif") 0 0 no repeat;*/
	background-size: cover;
	background-image: url("https://jcsla.files.wordpress.com/2013/04/faded_flag.gif"); 
	min-height: 100%;
}
p{
	color: black;
	/*font-family: 'Cinzel Decorative';*/
	font-family: 'Lobster', cursive;
	font-size: 20px;
	float: left;
	/*background-color: white;*/
	display: inline-block;
	position: relative;
}
button{
	float: initial;
}
h4{
	font-family: 'Lobster', cursive;
	position: absolute;
}