/*img{
	margin: 50px 300px 100px 300px;
	height: 200px;
	width: 200px;
	padding: 4px;
}
body{
	background-color: #7FDBFF;
	background-image: url("https://jcsla.files.wordpress.com/2013/04/faded_flag.gif") 0 0 no repeat;
}
p{
	color: black;
	font-family: 'Cinzel Decorative';
	font-size: 16px;
}*/

#btn-logout {
	margin-top: 9px;
	color: #777;
	font-size: 0.9em;
}

#home_blurb_text, h4, h5 {
	padding-left: 8%;
	padding-right: 8%;
}

#login {
	left: 50%;
	padding-left: 41%;
	padding-right: 41%;
}
#btn-login, #btn-edit-surveyr{
	background-color: #777;
/*	margin-left: 18%;
*/}

#documentInfoContainer {
	padding-left: 8%;
	padding-right: 8%;
}
.redo-survey-div {
	margin-right: auto;
	margin-left: auto;
}
#btn-edit-survey {
	float: center;
}
#surveyList-table {
	margin-left: 6%;
	margin-right: 6%;
}
.table-links {
	color: #0000FF;
	text-decoration: underline;
}

#unreviwed-survey-text {
	padding-left: 8%;
	padding-right: 8%;
}
.table-header-bold {
	font-weight: 600;
}
#div-for-pdf-buttons {
	margin-left: 20%;
	display:flex;
	width: 50%;
	justify-content: space-around;
}
.pdf-buttons {
	margin-top: 30px;
	margin-bottom: 30px;
}

#canvas-div {
	display: flex;
	justify-content: center;
}

#surveyContainer {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}