img{
	margin: 50px 300px 100px 300px;
	height: 200px;
	width: 200px;
	padding: 4px;
}
<<<<<<< HEAD
/* Full height image header */
.bgimg-1 {
    background-position: left;
    background-size: cover;
    background-image: url("http://eskipaper.com/images/patriotic-wallpaper-2.jpg");
    min-height: 100%;
}
=======
>>>>>>> 62893a5488fa9e79aebbfe17ee06ab5cad0a4b2d
body{
	background-color: #7FDBFF;
	background-image: url("https://jcsla.files.wordpress.com/2013/04/faded_flag.gif") 0 0 no repeat;
}
p{
	color: black;
	font-family: 'Cinzel Decorative';
	font-size: 16px;
<<<<<<< HEAD
	display: inline-block;
=======
>>>>>>> 62893a5488fa9e79aebbfe17ee06ab5cad0a4b2d
}